In [8]:
import pandas as pd
import numpy as np
import os
import sys
dir_name = 'wiki_generations'
dfs = []
for file in os.listdir(dir_name):
    path = f"{dir_name}/{file}"
    dfs.append(pd.read_csv(path, index_col=0, encoding_errors='ignore')[:500])
df = pd.concat(dfs)
print(df.shape)
df.to_csv('wiki_combined_results.csv')

(5000, 9)

# $\geq$ Thresholds

In [9]:
import pandas as pd
def count_geq_1(series):
    return (series >= 1).sum()
def count_geq_2(series):
    return (series >= 2).sum()
def count_geq_3(series):
    return (series >= 3).sum()
def count_geq_4(series):
    return (series >= 4).sum()
def count_geq_5(series):
    return (series >= 5).sum()
def count_geq_6(series):
    return (series >= 6).sum()
def count_geq_7(series):
    return (series >= 7).sum()
def order(series):
    if series == '160m':
        return 0
    if series == '410m':
        return 1
    if series == '1b':
        return 2
    if series == '1.4b':
        return 3
    if series == '2.8b':
        return 4
    return None

df = pd.read_csv('wiki_combined_results.csv')
df2 = df.drop(df.columns[0], axis=1)
df3 = df2.sort_values('Example Id')[:-4]
df4 = df3.groupby(['model', 'Prefix Length']).agg(
    Mean=('Matching Token Count', 'mean'), 
    Max=('Matching Token Count', 'max'),
    Sum=('Matching Token Count', 'sum'),
    Freq_GEQ_1=('Matching Token Count', count_geq_1),
    Freq_GEQ_2=('Matching Token Count', count_geq_2),
    Freq_GEQ_3=('Matching Token Count', count_geq_3),
    Freq_GEQ_4=('Matching Token Count', count_geq_4),
    Freq_GEQ_5=('Matching Token Count', count_geq_5),
    Freq_GEQ_6=('Matching Token Count', count_geq_6),
    Freq_GEQ_7=('Matching Token Count', count_geq_7), 
    model_id=('model', 'first')
)
df4['model_id'] = df4['model_id'].apply(order)
display(df4.sort_values(['Prefix Length', 'model_id']))
display(df4.sort_values(['model_id']))

,,Mean,Max,Sum,Freq_GEQ_1,Freq_GEQ_2,Freq_GEQ_3,Freq_GEQ_4,Freq_GEQ_5,Freq_GEQ_6,Freq_GEQ_7,model_id
model,Prefix Length,,,,,,,,,,,
160m,10,0.430000,6,215,149,39,13,7,4,3,0,0
410m,10,0.617234,14,308,184,59,28,14,8,6,2,1
1b,10,0.776000,11,388,210,86,37,17,13,10,4,2
1.4b,10,0.652000,11,326,192,68,29,13,8,7,3,3
2.8b,10,0.783567,14,391,208,92,41,20,12,8,3,4
160m,20,0.714000,8,357,219,81,30,15,5,3,2,0
410m,20,0.763527,11,381,217,86,42,18,7,4,3,1
1b,20,0.732000,5,366,217,87,38,19,5,0,0,2
1.4b,20,0.756000,8,378,223,91,36,18,7,1,1,3
2.8b,20,0.919840,10,459,242,105,55,30,11,7,5,4

                         Mean  Max  Sum  Freq_GEQ_1  Freq_GEQ_2  Freq_GEQ_3  \
model Prefix Length
160m  10             0.430000    6  215         149          39          13
      20             0.714000    8  357         219          81          30
410m  10             0.617234   14  308         184          59          28
      20             0.763527   11  381         217          86          42
1b    10             0.776000   11  388         210          86          37
      20             0.732000    5  366         217          87          38
1.4b  10             0.652000   11  326         192          68          29
      20             0.756000    8  378         223          91          36
2.8b  10             0.783567   14  391         208          92          41
      20             0.919840   10  459         242         105          55

                     Freq_GEQ_4  Freq_GEQ_5  Freq_GEQ_6  Freq_GEQ_7  model_id
model Prefix Length
160m  10                      7           4           3           0         0
      20                     15           5           3           2         0
410m  10                     14           8           6           2         1
      20                     18           7           4           3         1
1b    10                     17          13          10           4         2
      20                     19           5           0           0         2
1.4b  10                     13           8           7           3         3
      20                     18           7           1           1         3
2.8b  10                     20          12           8           3         4
      20                     30          11           7           5         4

In [11]:
import pandas as pd
def count_eq_1(series):
    return (series == 1).sum()
def count_eq_2(series):
    return (series == 2).sum()
def count_eq_3(series):
    return (series == 3).sum()
def count_eq_4(series):
    return (series == 4).sum()
def count_eq_5(series):
    return (series == 5).sum()
def count_eq_6(series):
    return (series == 6).sum()
def count_geq_7(series):
    return (series >= 7).sum()
def order(series):
    if series == '160m':
        return 0
    if series == '410m':
        return 1
    if series == '1b':
        return 2
    if series == '1.4b':
        return 3
    if series == '2.8b':
        return 4
    return None

df = pd.read_csv('wiki_combined_results.csv')
df2 = df.drop(df.columns[0], axis=1)
df3 = df2.sort_values('Example Id')[:-4]
df4 = df3.groupby(['model', 'Prefix Length']).agg(
    Mean=('Matching Token Count', 'mean'), 
    Max=('Matching Token Count', 'max'),
    Sum=('Matching Token Count', 'sum'),
    Freq_EQ_1=('Matching Token Count', count_eq_1),
    Freq_EQ_2=('Matching Token Count', count_eq_2),
    Freq_EQ_3=('Matching Token Count', count_eq_3),
    Freq_EQ_4=('Matching Token Count', count_eq_4),
    Freq_EQ_5=('Matching Token Count', count_eq_5),
    Freq_EQ_6=('Matching Token Count', count_eq_6),
    Freq_GEQ_7=('Matching Token Count', count_geq_7), 
    model_id=('model', 'first')
)
df4['model_id'] = df4['model_id'].apply(order)
display(df4.sort_values(['Prefix Length', 'model_id']))
display(df4.sort_values(['model_id']))

,,Mean,Max,Sum,Freq_EQ_1,Freq_EQ_2,Freq_EQ_3,Freq_EQ_4,Freq_EQ_5,Freq_EQ_6,Freq_GEQ_7,model_id
model,Prefix Length,,,,,,,,,,,
160m,10,0.430000,6,215,110,26,6,3,1,3,0,0
410m,10,0.617234,14,308,125,31,14,6,2,4,2,1
1b,10,0.776000,11,388,124,49,20,4,3,6,4,2
1.4b,10,0.652000,11,326,124,39,16,5,1,4,3,3
2.8b,10,0.783567,14,391,116,51,21,8,4,5,3,4
160m,20,0.714000,8,357,138,51,15,10,2,1,2,0
410m,20,0.763527,11,381,131,44,24,11,3,1,3,1
1b,20,0.732000,5,366,130,49,19,14,5,0,0,2
1.4b,20,0.756000,8,378,132,55,18,11,6,0,1,3
2.8b,20,0.919840,10,459,137,50,25,19,4,2,5,4

                         Mean  Max  Sum  Freq_EQ_1  Freq_EQ_2  Freq_EQ_3  \
model Prefix Length
160m  10             0.430000    6  215        110         26          6
      20             0.714000    8  357        138         51         15
410m  10             0.617234   14  308        125         31         14
      20             0.763527   11  381        131         44         24
1b    10             0.776000   11  388        124         49         20
      20             0.732000    5  366        130         49         19
1.4b  10             0.652000   11  326        124         39         16
      20             0.756000    8  378        132         55         18
2.8b  10             0.783567   14  391        116         51         21
      20             0.919840   10  459        137         50         25

                     Freq_EQ_4  Freq_EQ_5  Freq_EQ_6  Freq_GEQ_7  model_id
model Prefix Length
160m  10                     3          1          3           0         0
      20                    10          2          1           2         0
410m  10                     6          2          4           2         1
      20                    11          3          1           3         1
1b    10                     4          3          6           4         2
      20                    14          5          0           0         2
1.4b  10                     5          1          4           3         3
      20                    11          6          0           1         3
2.8b  10                     8          4          5           3         4
      20                    19          4          2           5         4

In [7]:
import pandas as pd
results = pd.read_csv('wiki_generations/wiki_160m_10.csv')
# display(bill)
results = results[results['Matching Token Count'] >= 4].sort_values('Matching Token Count', ascending=False).to_numpy()
for val in results[4][2:6]:
    print(val)
    print('_________________________')

Mahara Divisional Secretariat is a  Div
_________________________
Mahara Divisional Secretariat is a  Divisional Secretariat of the Department of Defense.

The Department of Defense is a  Divisional Secretariat of the Department of Defense.

History

The Department of Defense was a  Divisional Secretariat of the Department of Defense.

The Department of Defense was a  Divisional Secretariat of the Department of Defense.

The Department of Defense was a  Divisional Secretariat of the Department
_________________________
Mahara Divisional Secretariat is a  Divisional Secretariat  of Gampaha District, of Western Province, Sri Lanka.

References
 Divisional Secretariats Portal

Category:Divisional Secretariats of Gampaha District
_________________________
4
_________________________